@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?28171064');
    src: url('../font/fontello.eot?28171064#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?28171064') format('woff2'),
    url('../font/fontello.woff?28171064') format('woff'),
    url('../font/fontello.ttf?28171064') format('truetype'),
    url('../font/fontello.svg?28171064#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1020px;
    margin: 0 auto;
}
header{
    background: #323232;
    position: relative;
}
.list-items{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
    font-family: 'Lato', sans-serif;
}
header:before{
    content: "";
    width: 70%;
    height: 1px;
    background: rgba(0,0,0,.1);
    position: absolute;
    bottom: -13px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
header:after{
    content: "";
    width: 10%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -13px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 3;
}
.list-item{
    margin: 6px 12px -3px;
    text-transform: uppercase;
    font-size: 10px;
}
.list-item:first-child{
    position: relative;
}
.list-item:last-child{
    position: relative;
    margin: 6px 6px -3px 5px
}
.list-item:first-child:before{
    content: "";
    width: 2px;
    height: 2px;
    background: #555;
    position: absolute;
    right: -12px;
    top: 5px;
}
.list-item:last-child:before{
    content: "";
    width: 2px;
    height: 2px;
    background: #555;
    position: absolute;
    left: -10px;
    top: 5px;
}
.list-item a{
    text-decoration: none;
    color: #fff;
}
.list-item:hover a{
    color: #2fa68d;
}
.list-item img{
    margin: 4px 20px -3px 14px;
}
.list-items:before{
    content: "";
    bottom: -26px;
    position: absolute;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
z-index: 9999;
}
#portfolio{
    padding: 81px 0 139px;
    position: relative;
}
#portfolio:before{
    content: "";
    height: 1px;
    width: 950px;
    background: rgba(0,0,0,.1);
    position: absolute;
    bottom: 12px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
}
.hexagon img{
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}
.hexagon img:hover{
    transform: scale(1.3);
}
.row-top, .row-center, .row-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-top {
    margin: 1px 0 -54px;
    position: relative;
}
.row-top:before{
    content: "";
    display: inline-block;
    height: 105px;
    width: 1px;
    background: rgba(0,0,0,.1);
    top: 27%;
    position: absolute;
    left: 100px;
}
.row-top:after{
    content: "";
    display: inline-block;
    height: 105px;
    width: 1px;
    background: rgba(0,0,0,.1);
    top: 27%;
    position: absolute;
    right: 100px;
}
.row-bottom {
    margin: -57px 0;
    position: relative;
}
.row-bottom:before{
    content: "";
    display: inline-block;
    height: 105px;
    width: 1px;
    background: rgba(0,0,0,.1);
    top: 27%;
    position: absolute;
    left: 100px;
}
.row-bottom:after{
    content: "";
    display: inline-block;
    height: 105px;
    width: 1px;
    background: rgba(0,0,0,.1);
    top: 27%;
    position: absolute;
    right: 100px;
}
.hexagon{
    height: 207px;
    width: 183px;
    clip-path: var(--hexagon);
    margin: 8px;
}
:root {
    --hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.layout{
     width: 780px;
     margin: 0 auto;
 }
.content{
    display: none;
}
.slaider input {
    display: none;
}
.controls{
    position: absolute;
    left: 15%;
    bottom: 23px;
    font-size: 0;
}
.slaider label {
    display: inline-block;
    margin-right: 3px;
    width: 6px;
    height: 6px;
    border: none;
    background: #ddd2c5;
}

.slaider label:hover {
    background: #8b8784;
    cursor: pointer;
}

.slaider input:checked + label {
    background: #8b8784;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6{
    display: block;
}
#about-me{
    background: #2eb398;
    padding: 68px 0;
    position: relative;
}
.about{
    position: relative;
}
.about:before{
    content: "";
    width: 1px;
    height: calc(160% - 26px);
    background: rgba(0,0,0,.1);
    position: absolute;
    bottom: -50px;
    z-index: 20;
    left: -20px;
}
.about:after{
    content: "";
    width: 1px;
    height: calc(160% - 26px);
    background: rgba(0,0,0,.1);
    position: absolute;
    bottom: -50px;
    z-index: 20;
    right: -20px;
}
.row-about{
    display: inline-block;
}
.hexagon-photo{
    position: relative;
    height: 207px;
    width: 183px;
    clip-path: var(--hexagon);
    float: left;
    margin: 0 16px 0 -1px;
}
.hexagon-photo img{
    position: absolute;
    left: -65%;
}
.about-title h1{
    font-size: 30px;
    margin: -5px 0 0;
    color: #d7fcf5;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}
.about-title h3{
    color: #20816d;
    font-size: 18px;
}
.about-title p{
    font-size: 12px;
    text-align: justify;
    color: #d7fcf5;
    margin: 13px 0;
    min-height: 109px;
    line-height: 1.8;
}
.about-list{
    text-align: right;
    font-size: 0;
}
.about-list-item{
    display: inline-block;
    cursor: pointer;
}
.about-list-item:hover {box-shadow: 0 0 8px 0 rgba(0,0,0,.7);}
.about-list-item a{
    display: flex;
    align-items: center;
    color: #01ab94;
    font-size: 16px;
    justify-content: center;
    text-decoration: none;
    height: 25px;
    width: 25px;
}
.about-list-item:first-child{
    background: #a4dbd4;
}
.about-list-item:nth-child(2){
    background: #6ccbbe;
}
.about-list-item:nth-child(3){
    background: #7ed0c5;
}
.about-list-item:nth-child(4){
    background: #abddd7;
}
.about-list-item:nth-child(5){
    background: #acddd7;
}
.about-list-item:last-child{
    background: #6ccbbe;
}
.getintouch {
    background: #323232;
    margin: 0;
    padding: 12px 0;
}

.getintouch-container {
    max-width: 780px;
    padding: 3.375rem 1rem;
    margin: 0 auto;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    font-size: 0;
}

.getintouch-title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.875rem;
    color: #e0e0e0;
    margin: 0;
}

.getintouch-subtitle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.125rem;
    color: #bebebe;
    margin: 0;
}

.getintouch-left-column {
    display: inline-block;
    width: 73%;
    margin-right: 1rem;
    vertical-align: top;
    font-size: 0.75rem;
}

.getintouch-left-column:after {
    content: "";
    display: table;
    clear: both;
}

.getintouch-contact-form {
    color: #bebebe;
}

input[type="text"],
input[type="email"] {
    box-sizing: border-box;
    background-color: #454545;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
}

input[type="submit"] {
    background-color: #2eb398;
    padding: 1rem 2rem;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    color: #d7fcf5;
    float: right;
}

textarea {
    background-color: #454545;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
}

.getintouch-rigth-column {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    font-size: 0.75rem;
}
.getintouch-rigth-column span{
    color: #2eb398;
}

.getintouch-contacts-text {
    color: #bebebe;
    text-align: justify;
    line-height: 1.375rem;
}

.getintouch-contacts-text strong{
    color: #e0e0e0;
}

.getintouch-contacts-addres {
    padding-left: 20px;
    margin-top: 4rem;
    color: #bebebe;
}

.getintouch-contacts-phone {
    padding-left: 20px;
    margin-top: 0.625rem;
    color: #bebebe;
}

.getintouch-contacts-email {
    padding-left: 20px;
    margin-top: 0.625rem;
    color: #bebebe;
}

.getintouch-contacts-email a {
    color: #bebebe;
    text-decoration: none;
}
.copyright {
    background: #222222;
    margin: 0;
    padding: 1rem;
}

.copyright-text {
    max-width: 980px;
    margin: 0 auto;
    color: #454545;
}